html{
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5rem;
    color: rgb(68, 68, 68);
}

header{
    background-color: rgba(4, 80, 143,0.5); /*rgba(30,215,96,0.25);*/
    width: 100%;
    height: 160px;
    text-align: center;
    padding-top: 50px;
    margin-top: -10px;
}

header h1{
    font-weight: bold;
    letter-spacing: 5px;
    text-transform: uppercase;
    font-size: 55px;
    color: rgb(4, 80, 143);
}

div#main{
    margin: 0 10%;
}

nav{
    background-color: white;/*rgba(30,215,96,0.25);*/
    height: 60px; 
    margin-top: 0;
}

div#navi{
    background-color: rgb(4, 80, 143); /*#1ED760;*/
    margin: 0 10%;
    height: 100%;
    padding: 0;
}

nav ul{
    padding:0;
    margin:0;
    height: 100%;
}

div#navi ul li{
    display: block;
    float: left;
    width: 25%;
    padding-top: 0;
    text-align: center;
    height: 100%;
}

div#navi ul li:hover{
    background-color: rgb(241, 241, 241);
    outline: 5px solid rgb(4, 80, 143);
    outline-offset: -5px;
}


div#main-content{
    background-color:  rgba(167, 179, 189, 0.39);
    padding: 30px; 
    margin-top: 10px;
}


.column{
    margin-right: 40%;
    /*background-color: rgba(4, 80, 143,0.3);*/
    text-align: justify;
    line-height: 1.7rem;
}

/* SPOTIFY CONTENT ON THE LEFT */
        div#playlist{
            height: auto;
        }

        div#friends{
            padding-bottom: 50px;
        }       
/* SPOTIFY PICTURES ON THE RIGHT */
        div#right-playlist{
            width: 35%;
            float:right; 
            height: 450px;
            padding: 4% 3% 2% 2%;
        }

        div#right-stories{
            width: 35%;
            float: right;
            height: auto;
            padding: 3% 3% 2% 2%;
        }

        div#right-friends{
            width: 35%;
            float: right;
            height: auto;
            padding: 3% 3% 2% 2%;
        }

        div#me{
            width: 35%;
            float: right;
            display: flex;
            justify-content: center;
        }

img{
    float: right;
    display: inline-block;
    margin-bottom: 10px;
}

a{
    text-decoration: none;
    color: white;
    font-weight: bold;
    display: block;
    height: 100%;
    padding: 18px 0;
    text-align: center;
}

a:hover{
    color: rgb(4, 80, 143);
}


hr.bold{
    margin: 30px 0;
    border-top: 5px solid rgb(4, 80, 143);
}

hr.middle{
    margin: 40px 0;
    border-top: 3px solid rgb(178, 179, 180);
    margin-right: 40%;
}

input[type=text], select {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 4px solid rgb(4, 80, 143);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.85rem;
  }

  input[type=submit]{
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: block;
    border: 4px solid rgb(4, 80, 143);
    background-color: rgb(4, 80, 143);
    border-radius: 4px;
    box-sizing: border-box;
    font-size: 0.85rem;
    color: white;
    font-weight: bold;
  }